.stepwizard-step p {
    margin-top: 0px;
    color:white;
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;
    width: 100%;
    position: relative;
    background-color: darkblue;
    padding-top: 12px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px; 
}
.stepwizard-step button[disabled] {

}
.stepwizard .btn.disabled, .stepwizard .btn[disabled], .stepwizard fieldset[disabled] .btn {
    opacity:1 !important;
    color:#bbb;
}
.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content:" ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-index: 0;
}
.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}
.btn-circle {
    width: 30px;
    height: 30px;
    top: ;ext-align: center;
    padding: ;adding: 6px 0;
    font-size: 11.5px;
    line-height: 1.428571429;
    border-radius: 15px;
}